---
---
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400);
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';

$new-blue-dark: #1580c6;
$new-blue-medium: #369bdb;
$new-blue-light: #a1d7ff;
$new-green-text: #355021;
$new-green-dark: #6fb03d;
$new-green-medium: #92d061;
$new-green-light: #b2e48a;
$new-pink-dark: #802f61;
$new-pink-medium: #e655ae;
$new-pink-light: #ffb2d9;
$new-yellow-medium: #ffb940;
$new-yellow-dark: #6c5224;
$new-gray-dark: #262626;
$new-gray-medium: #7b7b7b;
$new-gray-light: #c1c0c0;

@import 'layout';
@import 'navigation';
@import 'home';
@import 'careers';
@import 'modal';
@import 'slick';
@import 'contact';
@import 'process';


// Master

.master {

  // Navigational elements

  #navigation {
    @extend %container;

    a { color: white; }
  }

  .nav-logo a {
    background: url('../images/global/fairhead-creative-white.svg') no-repeat;
    background-size: contain;
  }


  // Phone section

  .phone { background: $new-green-dark; }


  // Splash sections

  .splash,
  #continue {
    background: $new-green-medium;
    max-width: 100%;
  }


  // Hero sections

  #hero p:last-child:after {
    content: '';
    display: block;
    width: 40px;
    height: 50px;
    background: url("/images/masters/conversions-arrow.svg") no-repeat;
    background-size: 40px auto;
    position: absolute;
    left: 30%;

    @include media(max-width $large-screen) {
      left: 50%;
      @include transform(rotate(30deg) translateY(15px));
    }
  }

  #hero .intro {
    font-weight: normal;
    font-size: 1.2em;
    color: $new-green-text;
    letter-spacing: -0.05em;
    margin: -0.25em 0 0;

    @include media($medium-screen) { font-size: 2.4em; }
    @include media($large-screen) { padding-top: 4em; }
  }

  #hero h1 {
    padding: 0;
    margin-top: -0.75em;
    font-size: 1.2em;

    @include media($medium-screen) { font-size: 2.4em; }
    
    strong {
      display: block;
      color: white;
      font-size: 2em;
      letter-spacing: -0.05em;

      span {
        display: block;
        margin-top: -0.3em;
      }

      @include media($medium-screen) {
        font-size: 2.2em;
      }
    }
  }

  #hero img {
    @include media(max-width $large-screen) {
      width: 80%;
      max-width: 300px;
      margin: 0 auto -30px;
    }

    @include media(min-width $medium-screen + 5em max-width $large-screen) {
      max-width: 300px;
      margin: -30px auto;
    }

    @include media($large-screen) {
      max-width: 40%;
      position: absolute;
      right: 0;
      top: -20px;
    }
  }

  &.conversion-rates #hero img {
    @include media($large-screen) {
      right: 1em;
      margin-top: 100px;
      max-width: 45%;
    }
  }
  &.conversion-rates h1 {
    position: relative;
    z-index: 2;
  }

  #hero,
  #continue {
    @extend %container;
    position: relative;
    padding-bottom: 6em;

    @include media(max-width $large-screen) {
      text-align: center;
    }

    p {
      color: $new-green-text;
      max-width: 30em;
      font-size: 1.1em;

      @include media(max-width$large-screen) {
        margin: 0 auto;
      }
    }
  }


  // Continue section

  #continue {
    background: $new-green-medium;
    @extend %group;
    text-align: center;
    padding-bottom: 0;
    max-width: 100%;

    .inner { @extend %container; }

    img {
      max-width: 20em;
      margin: 1em auto -6px;
    }

    h2 {
      font-weight: normal;
      font-size: 1.1em;
      color: $new-green-text;

      @include media($medium-screen) { font-size: 1.5em; }

      @include media($large-screen) { font-size: 1.9em; }

      strong {
        display: block;
        color: white;
        font-size: 1.6em;
        letter-spacing: -0.05em;

        @include media($large-screen) { font-size: 2em; }
      }
    }
  }

  .continue-form {
    max-width: 35em;
    margin: 0 auto;

    input {
      float: left;
      font-size: 19px;
      display: inline-block;
      width: 47%;
      margin: 0 1%;
      box-shadow: none;

      @include media(max-width $medium-screen) {
        width: 100% !important;
        margin: 0 0 .5em !important;
      }
    }
  }

  #closing { display: none; }
}

.master-yellow {
  .splash, #continue { background: $new-yellow-medium; }
  #hero h1, #continue h2, #hero p, #continue p { color: $new-yellow-dark; }
  .phone { background: $new-yellow-dark; }
}

.master-blue {
  .splash, #continue { background: $new-blue-medium; }
  #hero h1, #continue h2, #hero p, #continue p { color: $new-blue-light; }
  .phone { background: $new-blue-dark; }
}

.master-pink {
  .splash, #continue { background: $new-pink-medium; }
  #hero h1, #continue h2, #hero p, #continue p { color: $new-pink-dark; }
  .phone { background: $new-pink-dark; }
}

.chapter-break {
  background: url('/images/home2/divider.svg') center top no-repeat;
  border: none;
  height: 20px;
  width: 100%;
  background-size: 100%;
  max-width: $x-large-screen;

  @include media($medium-screen) {
    margin-bottom: -8em;
  }
}

.chapter-first {
  margin-top: -5em;

  @include media($medium-screen) {
    margin-top: -8em;
  }
}

.chapter {
  @extend %group;
  @extend %container-thin;

  img {
    margin: 0 auto 1em;
    display: block;
  }

  p,
  > ul > li {
    font-size: 1.2em;
    display: block;
  }

  > ul > li {
    margin-top: 2em;
    padding-left: 50px;
  }

  ul li ul {
    list-style: disc;
    padding-left: 1.5em;

    li {
      margin-top: .5em;
    }
  }

  strong {
    font-weight: 900;
  }

  a { text-decoration: underline; }

  > ul > li {
    &:before {
      @extend %bullet;
      content: '1';
      background: $new-blue-medium;
    }

    a,
    strong {
      color: $new-blue-medium;
      font-weight: 900;
    } 
  }

  > ul > li:nth-child(1):before { content: '1'; }
  > ul > li:nth-child(2):before { content: '2'; }
  > ul > li:nth-child(3):before { content: '3'; }
  > ul > li:nth-child(4):before { content: '4'; }
  > ul > li:nth-child(5):before { content: '5'; }
  > ul > li:nth-child(6):before { content: '6'; }
}

.subscribe-result { margin-top: 1em; }

// Phone

.phone {
  background: #C5C2BC;
  color: white;
  padding: .3em;
  text-align: center;
  font-size: .9em;
  position: relative;
  z-index: 2;

  @include media(max-width $medium-screen) {
    span { display: none; }
  }

  a { color: white; }
}

#start {
  padding: 1em 1em .3em;
  background: #f7f6f4;

  @include media(max-width $large-screen) {
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .9em;

    p { font-size: .9em; }

    .button {
      max-width: 20em;
    }

    img { display: none; }
  }

  @include media($large-screen) {
    position: fixed;
    max-width: 270px;
    border-radius: 4px;
    bottom: 1em;
    right: 1em;

    img {
      max-width: 10em;
      margin: -0.25em auto .5em;
      display: block;
    }
  }

  h6 {
    margin: 0 0 .5em;
    font-size: 1.1em;
  }

  p {
    line-height: 1.4;
  }

  .button {
    width: 100%;
  }
}

#twitter-widget-0 {
  top: 6px;
  position: relative !important;
}

#scPortableForm-115025 {
  span,
  .small-description {
    display: none !important;
  }

  div {
    background: transparent !important;
  }

  .body-div {
    margin: 0 auto !important;
  }

  input[type="text"] {
    padding: .75em .5em !important;
    font-size: 1.1em !important;
    font-weight: normal;
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    border: none !important
  }

  input[type="submit"] {
    width: 100% !important;
    max-width: 100% !important;
    padding: .5em 0 !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
  }
}
