---
---
// Includes

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';
@import 'slick';
@import 'animate';
@import 'fairsites';


// General

.hide { display: none !important; }

img { margin: 0 0 1em; }

.centered {
  margin: 0 auto;
  float: none;
}

hr {
  background: url('../images/divider.png') no-repeat;
  max-width: 35em;
  height: 4px;
  border: none;
  margin: -2em auto -0.5em;
  display: block;
}


// Splash

.splash {
  text-align: center;
  padding: 0 1.5em 5em;
  position: relative;
}

.splash-overlaid {
  padding-bottom: 8em;
}

.splash-home {
  background-color: $dark-blue;
  color: white;

  .splash__title {
    font-size: em(24);
    margin: 0 auto .75em;

    @include media($medium-screen) {
      padding-top: 1.5em;
      font-size: em(35);
    }
  }

  .splash__lead {
    @include media(max-width $medium-screen) {
      font-size: 1em;
    }
  }
}

.splash-process {
  background-color: white;
  color: $base-font-color;

  nav a { color: $base-font-color; }
  .splash__title { color: $dark-gray; }
  .global-nav__logo { background: url("../images/fairhead-creative-black.svg") no-repeat; }

  nav .button {
    background-color: $green;
    color: white;
    box-shadow: none;
  }
}

.splash-post {
  background-color: $green;
  color: white;
}

.splash-why,
.zurb .splash-story {
  background-color: $blue;
  color: white;
}

.splash-portfolio,
.lifechurchtv .splash-story {
  background-color: $dark-pink;
  color: white;
}

body.starterkit {
  background-color: white;
  color: $base-font-color;

  .splash {
    background-color: $medium-green;
    color: white;
  }

  .splash__feature {
    max-width: 500px;
    width: 100%;
  }

  .single-section__content ul li {
    list-style: none;
    margin-left: 0;
  }
}

.splash-starterkit {
  background-color: $medium-green;
  color: white;
}

.splash-onboard {
  background-color: $medium-green;
  color: white;
}

.splash-master-convert {
  background-color: $green;
  color: white;
}

.splash-master-email {
  background-color: $yellow;
  color: white;
}

.splash-blog {
  background-color: darken($medium-gray, 10);
  color: white;
}

.splash__intro {
  text-align: center;
  letter-spacing: -0.03em;
  margin: 0;

  @include media($medium-screen) {
    font-size: 1.5em;
    margin: -1em 0 0;
  }
}

.splash__title {
  color: white;
  max-width: em(400);
  margin: 0 auto .5em;

  @include media($medium-screen) {
    margin: 0 auto .4em;
  }
}

.splash__title--large {
  font-size: 2em;

  @include media($medium-screen) {
    font-size: 4.3em;
    letter-spacing: -0.04em;
    line-height: .8em;
  }
}

.splash__lead {
  max-width: em(550);
  margin: 0 auto;
  opacity: .85;
}

.splash__lead-extra {
  margin: .5em auto -0.5em;
}

.splash__arc {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.overlay-splash {
  position: relative;
  margin-top: -4em;
}


// Single Sections

.single-section {
  @include outer-container;
  padding: 0 1.5em 4em;
  text-align: center;

  .thin-container {
    padding-top: 1em;
  }
}

.single-section__figure {
  margin-bottom: .5em;
}

.single-section__content {
  max-width: em(550);
  margin: 0 auto;
  text-align: left;

  strong { color: $dark-gray; }

  ul {
    margin-bottom: 1.5em;
  }

  ul li {
    list-style: disc inside;
    margin: 0 0 1em 1em;
    font-size: 1.1em;
  }

  figure img {
    border-radius: $base-border-radius;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
  }

  figcaption {
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: #aaa;
    margin-top: .5em;
  }
}


// Numbered lists

.numbered-list {
  margin-left: 3em;
}

.numbered-list__item {
  counter-increment: item;
  margin: 1.5em 0;

  strong { display: block; }

  ul {
    padding-left: 1.5em;
  }

  ul li {
    list-style: disc;
    margin-top: .5em;
  }

  h3 {
    position: relative;
    top: -3px;
    margin-bottom: .6em;
  }

  p, li { font-size: 1em !important; }

  &:nth-child(4n-3) {
    strong { color: $green; }
    &:before { background: $green; }
  }

  &:nth-child(4n-2) {
    strong { color: $pink; }
    &:before { background: $pink; }
  }

  &:nth-child(4n-1) {
    strong { color: $blue; }
    &:before { background: $blue; }
  }

  &:nth-child(4n) {
    strong { color: $yellow; }
    &:before { background: $yellow; }
  }

    &:before {
      float: left;
      margin-left: -2.7em;
      margin-top: -0.25em;
      margin-right: 10px;
      content: counter(item);
      background: $dark-gray;
      border-radius: 100%;
      color: #fff;
      width: 2em;
      height: 2em;
      line-height: 2em;
      font-weight: bold;
      text-align: center
    }
}


// Checklists

.check-list {
  margin-bottom: 1em;
}

.check-list__item {
  margin-bottom: .5em;
}

.check-list__item:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 16px;
  background: url('../images/check.svg') no-repeat;
}


@import 'home';
@import 'masters';
@import 'onboard';
@import 'blog';
@import 'portfolio';
@import 'start';

.group {
  padding-top: 4em;
  padding-bottom: 4em;
}

.group-top {
  padding-top: 2em;
}

.container {
  @include outer-container;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.why-figure-2 {
  margin-bottom: -4em;
}

.why-figure-4 {
  margin-bottom: .25em;
}

.home-start {
  position: absolute;
  padding-top: 3em;
  top: 4em;
  z-index: 2;
  width: 100%;
}

.body-div img {
  display: none !important;
}

.more {
  color: #b7d4ab;

  &:hover {
    color: #b7d4ab;
    text-decoration: underline;
  }
}

.phone {
  text-align: center;
  color: white;
  font-size: .8em;
  padding: .75em;

  a { color: white; }

  @include media(max-width em(415)) {
    span { display: none; }
  }


  .home & { background: darken($dark-blue, 7); }
  .why &,
  .story.zurb & { background: darken($blue, 7); }
  .portfolio &,
  .story.lifechurchtv & { background: shade($dark-pink, 7); }
  .blog & { background: shade($medium-gray, 40); }
  .start &,
  .starterkit & { background: shade($medium-green, 10); }
  .master-convert &,
  .post & { background: shade($green, 7); }
  .master-email & { background: shade($yellow, 7); }
  .products & { background: #222; }
}


// Products page

.products {
  background: $off-white;
}

.splash-products {
  background: #e8e8e8;
  padding-bottom: 2em;

  header {
    position: relative;
    margin: 0 -1.5em 2em;
    background: #333;

    @include media(em(850)) {
      height: 70px;
    }
  }
}

.splash__nav {
  position: relative;
  z-index: 4;
  margin-top: -1em;
  font-size: .95em;
}

.splash__nav--item {
  color: #222;
  padding: 1em;
  display: inline-block;
  border-radius: $base-border-radius;

  svg {
    display: block;
    margin: 0 auto;
  }

  &:hover {
    background: #ddd;
    color: #333;
  }
}

.text-center {
  text-align: center;
}

.splash-squeeze {
  padding-top: 4em;
}

.splash__figure {
  max-width: 500px;
}

.splash__title span {
  display: block;
  font-size: .7em;
}


.share {
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;

  @include media(max-width em(1000)) { display: none !important; }

  a {
    display: block;
    width: 200px;
    height: 44px;
    text-indent: 50px;
    line-height: 2.7;
    margin: 0 0 1em;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: auto 36px;
    border-radius: $base-border-radius;
    @include transition(all 0s ease-in-out);

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}

.share__facebook { background-image: url('../images/webicon-facebook.svg'); }
.share__twitter { background-image: url('../images/webicon-twitter.svg'); }
.share__pinterest { background-image: url('../images/webicon-pinterest.svg'); }
.share__linkedin { background-image: url('../images/webicon-linkedin.svg'); }

.post .splash__title {
  max-width: 15em;
}

$process-relate-bg: #80c838;
$process-relate-header: #fff;
$process-relate-text: #fff;
$process-relate-accent: #ace96f;
$process-strategy-bg: #e8faff;
$process-strategy-header: #3d5054;
$process-strategy-text: #638389;
$process-strategy-accent: #bbe5f1;
$process-strategy-text: #638389;
$process-strategy-accent: #bbe5f1;
$process-create-bg: #c4eef6;
$process-create-header: #3d5054;
$process-create-text: #638389;
$process-create-accent: #94c3d0;
$process-measure-bg: #f29b43;
$process-measure-header: #fff;
$process-measure-text: #fff;
$process-measure-accent: #ffc285;
$process-iterate-bg: #5c962f;
$process-iterate-header: #fff;
$process-iterate-text: #fff;
$process-iterate-accent: #8fd459;

.process {
  .phone { display: none; }

  .process-hero {
    max-width: 400px;
    margin-top: -20px;
  }

  .process-piece h2 { text-align: left; }

  .single {
    text-align: center;
    margin-bottom: 3em;

    figure {
      max-width: 13em;
      margin: 0 auto -1.5em;

      svg text {
        font-weight: 700;
      }

      @include media($medium-screen) {
        max-width: 30em;
        margin: 0 auto -2.5em;
      }
    }

    p {
      @extend h2;
      color: $medium-gray;
      margin: 0 auto 1.5em;

      @include media(max-width $medium-screen) {
        font-size: 1.2em;
      }
    }
  }

  h1 {
    font-family: Lato;
    line-height: 1;
    font-weight: 700;
    margin-bottom: .4em;
    font-size: 2.5em;

    @include media($medium-screen) {
      font-size: 3.5em;
    }
  }

  .process-piece {
    .container {
      max-width: 54em;
    }

    figure {
      margin: 0;
      padding: 0;

      @include media($medium-screen) {
        @include span-columns(5);
      }
    }

    article {
      @include media($medium-screen) {
        @include span-columns(6);
        @include shift(1);
        @include omega;
      }
    }

    h2 {
      @extend h2;
      font-family: Lato;
      font-size: 2.5em;
      line-height: 1;
      font-weight: 700;
      margin-bottom: .5em;

      &:before {
        margin-right: 5px;

        @include media($medium-screen) {
          margin-left: -1em;
        }
      }
    }

    p, li {
      font-size: 1.2em;
    }

    strong {
      font-weight: normal;
      border-radius: $base-border-radius;
      padding: .1em .2em;
    }

    li {
      margin-left: 1.25em;
      margin-bottom: .5em;

      &:before {
        content: "• ";
        margin-left: -1em;
        margin-right: 4px;
      }
    }

    ul {
      margin: 1em 0;
    }
  }

  #relate {
    background: $process-relate-bg;
    color: $process-relate-text;

    figure {
      margin-top: 80px;

      @include media(max-width $medium-screen) {
        width: 60%;
        margin: -90px auto -20px;
      }
    }

    li:before {
      color: $process-relate-accent;
    }

    strong {
      background: shade($process-relate-bg, 10);
    }

    h2 {
      color: $process-relate-header;

      &:before {
        content: "1. ";
        color: $process-relate-accent;
      }
    }
  }

  #strategy {
    background: $process-strategy-bg;
    color: $process-strategy-text;
    overflow: hidden;

    @include media(max-width $medium-screen) {
      figure {
        width: 60%;
        margin: -190px auto -20px;
      }
    }

    li:before {
      color: $process-strategy-accent;
    }

    strong {
      background: shade($process-strategy-bg, 10);
    }

    h2 {
      color: $process-strategy-header;

      &:before {
        content: "2. ";
        color: $process-strategy-accent;
      }
    }
  }

  #create {
    background: #acdde2 url('/images/process/create.svg') no-repeat left -40px;
    background-size: 120% auto;
    color: $process-create-text;

    @include media(max-width $medium-screen) {
      padding-top: 150px;
    }

    @include media($medium-screen) {
      background-size: auto 100%;
      background-color: $process-create-bg;
      background-position: center bottom;
    }

    li:before {
      color: $process-create-accent;
    }

    strong {
      background: shade($process-create-bg, 10);
    }

    h2 {
      color: $process-create-header;

      &:before {
        content: "3. ";
        color: $process-create-accent;
      }
    }
  }

  #measure {
    position: relative;
    background: $process-measure-bg;
    color: $process-measure-text;
    overflow: hidden;

    @include media(max-width $medium-screen) {
      figure {
        width: 310px;
        margin: -230px auto -20px;
      }
    }

    li:before {
      color: $process-measure-accent;
    }

    figure {
      position: absolute;
      left: 0;
      top: 0;
    }

    svg {
      @include media($medium-screen) {
        height: 500px;
      }
    }

    article {
      @include media(max-width $medium-screen) {
        padding-top: 160px;
      }

      @include media($medium-screen) {
        @include shift(6);
      }
    }

    strong {
      background: shade($process-measure-bg, 10);
    }

    h2 {
      color: $process-measure-header;

      &:before {
        content: "4. ";
        color: $process-measure-accent;
      }
    }
  }

  #iterate {
    background: #5a7743 url('/images/process/iterate.svg') no-repeat center -20px;
    background-size: 100% auto;
    color: $process-iterate-text;

    @include media($medium-screen) {
      background-position: center top;
      background-size: auto 100%;
      padding-bottom: 12em;
    }

    @include media(max-width $medium-screen) {
      article {
        padding-top: 90px;
      }
    }

    @include media($medium-screen) {
      background-color: $process-iterate-bg;
    }

    li:before {
      color: $process-iterate-accent;
    }

    strong {
      background: darken($process-iterate-bg, 12);

      @include media($medium-screen) {
        background: shade($process-iterate-bg, 10);
      }
    }

    h2 {
      color: $process-iterate-header;

      &:before {
        content: "5. ";
        color: $process-iterate-accent;
      }
    }
  }

  #motivate {
    article {
      @include media($medium-screen) {
        @include shift(3);
      }
    }

    h2 {
      @include media($medium-screen) {
        text-align: center;
      }

      &:before {
        content: "6. ";
        color: #aaa;
      }
    }

    strong {
      background: #eee;
    }
  }
}

.global-nav__links--item {
  @include media(max-width em(379)) {
    strong { display: none; }
    em { font-style: normal; }
  }

  @include media(em(380)) {
    em { display: none; }
  }
}



.hero-figure {
  background: url('/images/home-shape-hero.svg') no-repeat;
  height: 180px;
  margin: 0 -1.5em 2.25em;
  background-position: -60px -110px;
  background-size: 370px;

  @include media(em(375)) { // iPhone 6
    background-position: -10px -110px;
  }

  @include media(em(630)) {
    width: 60%;
    float: left;
    height: 445px;
    background-position: -220px 20px;
    background-size: 552px;
    margin-left: -10%;
    margin-bottom: 0;
  }

  @include media(em(700)) {
    background-position: -170px 20px;
  }

  @include media(em(800)) {
    width: 75%;
    height: 490px;
    margin-left: -25%;
    background-position: -50px 30px;
    background-size: 600px;
  }

  @include media(em(850)) {
    background-size: 650px;
    height: 530px;
  }

  @include media(em(930)) {
    background-position: 10px 30px;
  }

  img {
    width: 190px;
    margin: 0 auto;
    display: block;
    position: relative;
    left: -27px;
    top: 15px;

    @include media(em(630)) {
      width: 300px;
      left: -47px;
      top: 71px;
    }

    @include media(em(700)) {
      left: -20px;
      top: 30px;
    }

    @include media(em(800)) {
      width: 430px;
      top: 40px;
      left: 15px;
    }

    @include media(em(850)) {
      left: 50px;
    }
  }
}

.hero-content {
  padding-bottom: 2em;

  @include media(em(630)) {
    width: 50%;
    float: right;
  }

  .button-primary,
  .button-secondary { margin-top: .5em; }
  p:last-of-type { margin-bottom: 0.75em; }
}

.hero {
  text-align: center;
  font-size: .875em;

  @include media(em(630)) {
    font-size: 1em;
    max-width: 58em;
  }

  h1 {
    margin-bottom: .5em;

    @include media(em(414)) { // iPhone 6 Plus
      max-width: 16em;
      margin: 0 auto .5em;
    }

    @include media(em(600)) {
      margin-top: 1.5em;
      font-size: 1.7em;
    }


    @include media(em(800)) {
      margin-top: 3.5em;
      margin-bottom: 1em;
    }
  }

  p {
    font-size: .98em;
    margin-bottom: .5em;

    @include media(em(414)) { // iPhone 6 Plus
      font-size: 1em;
      max-width: 23em;
      margin-left: auto;
      margin-right: auto;
    }

    @include media(em(800)) {
      font-size: 1.05em;
      margin-bottom: 1.5em;
    }
  }
}

small {
  font-size: .9em;

  @include media(em(414)) { // iPhone 6 Plus
    max-width: 25.5em;
    display: block;
    margin: 0 auto;
  }

  a { text-decoration: underline; }
}

.proof {
  background: #f4f4f4;
  padding: 1em .5em;
  margin: 0;
  max-width: 100%;

  @include media(em(650)) {
    padding: 2em 1em;
  }

  img {
    display: block;
    width: 100%;
    max-width: 60em;
    margin: 0 auto;
  }

  @include media(max-width em(550)) {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    img { width: 590px; max-width: 590px; margin-right: 1em; }
  }
}

.feature {
  @extend .container;
  max-width: 44em;
  font-size: .875em;
  text-align: center;
  padding-top: 4em;

  @include media(em(800)) {
    font-size: 1em;
  }
}

.feature-content {
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;

  .lead {
    font-size: 1.3em;
  }

  .button-primary,
  .button-secondary {
    margin-top: .5em;
    font-size: .95em;
  }

  p:last-of-type { margin-bottom: 0.75em; }
}

.feature .feature-heading {
  font-size: 1.4em;

  @include media(em(650)) {
    font-size: 2em;
  }
}

.included-list {
  margin-bottom: 2em;
  @include row;

  @include media(max-width em(650)) {
    background: url('/images/home-included-mobile.png') center top no-repeat;
    background-size: 275px auto;
    padding-top: 190px;
  }

  img {
    @include media(max-width em(650)) {
      display: none;
    }
  }
}

.included-list-item {
  @include media(max-width em(650)) {
    max-width: 19.25em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  @include media(em(650)) {
    padding: 1em;
    position: relative;
    @include span-columns(4);

    &:after {
      content: '+';
      position: absolute;
      right: -16px;
      bottom: 140px;
      font-weight: 700;
      color: #ccc;
      font-size: 2em;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.button.button-primary,
.button.button-secondary {
  text-align: center;
  background-image: url('/images/button-email.png');
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 11px 11px;

  @include media(em(650)) {
    padding-left: 55px;
    background-position: 15px 15px;
  }

  @include media(max-width em(850)) {
    width: 100%;
  }
}

.button.button-tertiary {
  @include media(max-width em(850)) {
    width: 100%;
  }
}

.others {
  @include row;
  max-width: 64em;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;

  a { text-decoration: underline; }
}

.others-option {
  border-top: 2px solid #e3e3e3;
  text-align: center;
  width: 50%;
  float: left;
  font-size: .7em;
  padding: 2em .75em;

  @include media(em(850)) {
    font-size: 1em;
    padding: 2.5em 2em;

    p { font-size: 1em; }
  }

  &:first-child {
    border-right: 2px solid #e3e3e3;
  }

  p {
    margin-bottom: .5em;
  }

  h2 {
    font-size: 1em;

    @include media(em(375)) { font-size: 1.2em; }

    @include media(em(650)) {
      font-size: 1.4em;
      margin-bottom: .5em;
    }
  }
}

.home header {
  padding: .5em 0;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  z-index: 1;
  position: relative;
}

.home .global-nav {
  padding: 0 1.5em;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

.home .global-nav__logo {
  width: 160px;
  height: 34px;
  background: url('../images/fairhead-creative-blue.svg') no-repeat;
  background-size: contain;
  margin-bottom: -5px;
  margin-top: 5px;
}

.home .global-nav__links--item a {
  color: #aaa;
}

.home .global-nav__links--item .button {
  padding: 0 0 .5em;
  box-shadow: none;
  vertical-align: inherit;
}

.home-modal-bg {
  background: #6ec0f4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  @include transition(all .5s ease-in-out);

  &.is-visible {
    z-index: 3;
    opacity: 1;
  }
}

.home-modal {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 50px;
  left: -126px;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  width: 515px;

  &.is-visible {
    z-index: 4;
    opacity: 1;
  }

  small {
    margin-top: 15px;
    display: block;
    color: #999;
    font-size: .75em;
  }

  @include media(em(375)) {
    left: -100px;
  }

  @include media(em(510)) {
    left: -60px;
  }

  .home-modal-content {
    background: url("../images/home-modal.png") no-repeat;
    background-size: 520px;
    background-position: 0 -2px;
    width: 515px;
    height: 470px;
    padding: 4em 5.5em 0 9em;
    text-align: center;
    margin: 0 auto;

    @include media(em(980)) {
      background-size: 572px;
      width: 565px;
      height: 495px;
      padding: 6.5em 5em 0 9.5em;
    }
  }

  h2 {
    font-size: 1.6em;
    margin-bottom: .5em;
    max-width: 18em;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    max-width: 21em;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  span { display: none !important; }

  input, table, div {
    box-sizing: border-box !important;
  }

  .home-modal-close {
    background: black;
    position: absolute;
    right: 70px;
    top: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    color: white;
    font-size: 1.7em;
    border-radius: 100px;
    line-height: 1.6;
    cursor: pointer;

    &:hover {
      background: white;
      color: black;
    }

    @include media(em(510)) {
      right: 30px;
    }

    @include media(em(980)) {
      right: -20px;
    }
  }

  form {
    max-width: 19.5em !important;
    margin-left: auto;
    margin-right: auto;

    @include media(em(510)) {
      width: 80% !important;
    }

    @include media(em(980)) {
      width: 70% !important;
      border-top: 1px solid #ddd;
      padding-top: 1.25em;
    }
  }

  form div,
  form table,
  form td {
    padding: 0 !important;
    max-width: 100% !important;
  }

  form td { display: block !important; }

  input[type="text"] {
    width: 100% !important;
    height: 40px !important;
    padding-left: 10px !important;
  }

  input[type="submit"] {
    background: $green !important;
    border: none !important;
    border-top: 1px solid lighten($green, 15) !important;
    border-bottom: 1px solid shade($green, 10) !important;
    height: 50px !important;
    font-weight: bold !important;
    width: 100% !important;

    &:hover {
      background: $pink !important;
      border-top: 1px solid lighten($pink, 15) !important;
      border-bottom: 1px solid shade($pink, 10) !important;
    }
  }
}

.button-tertiary {
  @include transition(all 0s ease-in-out);
  background: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-color: #ddd;
  border-bottom-color: #ccc;
  color: #222;
  margin-top: 0;

  &:hover {
    color: #2874a4;
    background: #fafafa;
    border-top-color: #ddd;
    border-bottom-color: #ccc;
  }
}

.home .button-tertiary {
  @include media(em(850)) { width: 221px; }
}

.home.fairsite .button-tertiary {
  @include media(em(850)) { width: auto; }
}

#simon p {
  font-size: 1em;
  max-width: 35em;
  margin: 0 auto 1em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.4;
  color: #999
}

#simon cite {
  background-image: url('/images/testimonial-simon.png');
  background-size: 50px;
  padding-top: 55px;
  font-size: .8em;
}

#exiting {
  position: fixed;
  top: -4em;
  left: 0;
  right: 0;
  background: #6ec0f4;
  color: white;
  font-size: .9em;
  padding: 5em 1em 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @include media(max-width em(650)) { display: none !important; }

  &:after {
    content: '';
    display: block;
    width: 350px;
    height: 60px;
    background: url('/images/exit-bg.png') center top no-repeat;
    background-size: contain;
    position: absolute;
    top: 119px;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include media(max-width em(990)) { top: 143px; }
  }

  p {
    margin: 0;

    @include media(max-width em(990)) {
      max-width: 35em;
      text-align: center;
      margin: 0 auto;
    }
  }

  .button {
    margin-left: .5em;
    padding: .5em .75em;
    border-bottom: 1px solid #6f9f48;
    border-left: 1px solid #7aaf4f;
    border-right: 1px solid #7aaf4f;
  }
}

.downloadable {
  @extend .home-modal-bg;
  opacity: 1;

  .global-footer { display: none; }

  header { background: white; }
}

.downloadable-content {
  @extend .home-modal;
  opacity: 1;
  z-index: 4;
  position: absolute;
  top: 8em;

  .inner {
    @extend .home-modal-content;
  }
}


// AC Fixes

._form_26,
._form_28,
._form_30,
._form_32 {
  padding: 0 1.5em;
  margin: 0;
  width: 100%;
  max-width: 100%;

  form {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  input[type="text"] {
    border: 1px solid #ddd !important;
    border-top-color: #ddd !important;
    border-bottom-color: #ccc !important;

    &:focus { border-color: $blue !important; }
  }

  ._submit {
    background: $green;
    border: none;
    border-top: 1px solid lighten($green, 15);
    border-bottom: 1px solid shade($green, 10);
    height: 50px;
    font-weight: bold;
    width: 100%;

    .master-convert & { margin-top: .75em; }

    &:hover {
      background: $pink;
      border-top: 1px solid lighten($pink, 15);
      border-bottom: 1px solid shade($pink, 10);
    }
  }
}

._form_28 ._submit,
._form_30 ._submit { margin-top: .75em; }
._form_32 { padding: 0 0 1em 0; }

@include media($medium-screen) {
  ._form_32 { padding: 0 1em 2em 0; }

  .start .start-box > div {
    max-width: 300px;
    margin-top: 13px;
    width: 100%;
    text-align: left;
  }
}
