---
layout: layout-v4
version: v4
title: Thanks
permalink: confirmed/
class: contact
noindex: true
---
<div class="form">
  <h1>Great, you're all set!</h1>
  <p>Thanks for subscribing. I’m confident you’ll find our content really helpful as you begin your journey towards a website that understands and charms your audience.</p>
  <p>We're also going to send you some exclusive steps you can take for your site today, free.</p><br />

  <article class="article">
  <aside class="sidebar-item">
    <h3>Recommended reading</h3>
    {% for post in site.posts %}
    {% if post.recommended %}
    <article>
      <header>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <p class="meta">Published {{ post.date | date_to_string }}</p>
      </header>
      </article>
    {% endif %}
    {% endfor %}
    </aside>
  </article>
</div>
