---
layout: layout
title: Our Process
permalink: process/
class: process
---
<header class="container single">
  <figure>
    {% include svg/process.html %}
  </figure>

  <h1>Our Process</h1>
  <p>Achieve your goals by helping your visitors achieve theirs.</p>
</header>

<section id="relate" class="group process-piece">
  <div class="container">
    <figure>
      {% include svg/relate.html %}
    </figure>

    <article>
      <h2>Relate</h2>
      <p>Your business exists to help your customers achieve their goals. Our mission is to motivate your customers to <strong>achieve those goals.</strong></p>
      <p>In every new project &amp; cycle we:</p>
      <ul>
        <li>Learn about your target audience</li>
        <li>Understand how they tick, and how you fit into their lives</li>
        <li>Know them as real people, not stats. How do they think? Speak? What are their fears?</li>
      </ul>
      <p>This data makes sure the things we create have a <strong>measurable impact</strong> on their lives, and on your business results.</p>
    </article>
  </div>
</section>

<section id="strategy" class="group process-piece">
  <div class="container">
    <figure>
      {% include svg/strategy.html %}
    </figure>

    <article>
      <h2>Strategy</h2>
      <p>Once we know your audience &amp; their goals, our next task is to <strong>discover ways to help</strong> your visitors achieve them.</p>
      <p>Each time we strategize together, we:</p>
      <ul>
        <li>Compare your goals to the goals of your prospects</li>
        <li>Achieve your goals by helping your visitors achieve theirs</li>
        <li>Position you as a trusted source in your market, in their lives</li>
        <li><strong>Guarantee results</strong> by using strategies one-by-one that we'll test &amp; learn from</li>
      </ul>
    </article>
  </div>
</section>

<section id="create" class="group process-piece">
  <div class="container">
    <figure>&nbsp;
    </figure>

    <article>
      <h2>Create</h2>
      <p>We create <strong>whatever is necessary</strong> to validate the aforementioned strategies.</p>
      <p>Your visitors will benefit from:</p>
      <ul>
        <li>Design that understands them &amp; speaks to them on an emotional level.</li>
        <li>Development that runs effectively on any device, with no bugs or slowdowns.</li>
        <li>Online marketing strategies that are validated <strong>by your visitors.</strong></li>
      </ul>
    </article>
  </div>
</section>

<section id="measure" class="group process-piece">
  <div class="container">
    <figure>
      {% include svg/measure.html %}
    </figure>
    
    <article>
      <h2>Measure</h2>
      <p><strong>Results come quickly</strong> because we make sure the strategies and creations are effective before investing too much time on them. For example:</p>
      <ul>
        <li>For a new service, we might test different messaging and visual styles to see what your audience responds to.</li>
        <li>If the sign-ups come, we know the proposed offer is compelling.</li>
        <li>If response was minimal, we know to modify our offer or strategy.</li>
      </ul>
      <p>In either case, we'll learn about your customers, find <strong>a working message</strong> and motivate your visitors to buy.</p>
    </article>
  </div>
</section>

<section id="iterate" class="group process-piece">
  <div class="container">
    <figure>&nbsp;
    </figure>

    <article>
      <h2>Iterate</h2>
      <p>Audiences &amp; markets never stay the same for long.</p>
      <p>We’re always iterating to keep your online business razor-sharp in your market, responding to the winds of prospect preferences <strong>faster than your competition.</strong></p>
    </article>
  </div>
</section>

<section id="motivate" class="group container process-piece">
  <article>
    <h2>Motivate</h2>
    <p>Through every interaction with prospects, every strategy, every creation and every iteration, we’re committed to your audience, to giving them value, to making their lives better, and to <strong>making you their hero.</strong></p>
    <p>If they need something in your space, we’re committed to making <strong>you the first business they turn to.</strong></p>
    <p>We’re passionate about inspiring change. That’s why we choose our clients based on the difference we can make in the lives of their customers.</p>
  </article>
</section>

<section id="closing-strapline">
  <div class="container">
    <h2>We’re the creative web design team that’ll motivate your visitors to buy.</h2>
    <p class="lead">We'll show you how. <strong>Enter your website URL below:</strong></p>
    <form class="strap-form">
      <input type="url" value="" name="MMERGE3" class="required url" id="mce-MMERGE3" placeholder="Website URL" />
      <a href="javascript:void(0);" class="strap-submit button" onclick="ga('send', 'event', 'Study', 'Click', 'Study Report Open');">Create my free report</a>
    </form>
  </div>
</section>

<div class="modal-wrapper" id="key-modal">
  <div class="modal-overlay"></div>
  <div class="modal">
    <a href="javascript:void(0);" class="modal-close" onclick="ga('send', 'event', 'Study', 'Click', 'Home Report Close');">&#10006</a> 
    <h3>Where shall we send your report?</h3>
    <p>Enter the email address you'd like us to send your report to (you'll be asked to confirm this address):</p>

    <form action="//adamfairhead.us8.list-manage.com/subscribe/post-json?u=078c568914b24026a4a24cbc8&amp;id=080a86620e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="strapline-form pop" target="_blank" novalidate>
      
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" />
      <input type="url" value="" name="MMERGE3" class="required url" id="mce-MMERGE3" placeholder="Website URL" />

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;"><input type="text" name="b_078c568914b24026a4a24cbc8_080a86620e" tabindex="-1" value=""></div>
      <input type="submit" value="Send me my free report" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'Study', 'Click', 'Home Report Send');">
    </form>

    <div class="subscribe-result"></div>
  </div>
</div>
