{% if page.freebie %}
<a href="javascript:void(0);" class="get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Download Open Small {{ page.title }}')" /><h3>This article comes with a free download: download it now</h3></a>
{% else %}
<aside class="inline-freebie large-element inline-subscribe">
  <h3>Attract more customers online with our newsletter</h3>
  <p>Subscribe to our email newsletter for insider tips and free resources, all designed to give your business a competitive advantage online.</p>
  <p><a href="javascript:void(0);" class="button get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Subscribe Inline')" />Subscribe Now</a></p>
</aside>
{% endif %}
