  <footer class="global-footer bg-dark">
    <div class="container">
      <div class="footer-links">
        <h3>What We Do</h3>
        <ul>
          <li><a href="#">FairSites</a></li>
          <li><a href="#">Website Review</a></li>
          <li><a href="#">Online marketing Diagnosis</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Fairhead Blog</a></li>
          <li><a href="https://twitter.com/fairheadc" class="footer-twitter" rel="external" target="_blank">Twitter</a></li>
          <li><a href="http://facebook.com/fairheadcreative" class="footer-facebook" rel="external" target="_blank">Facebook</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3>About Us</h3>
        <ul>
          <li><a href="#">Designing for Conversions</a></li>
          <li><a href="#">Designing Automated Sales</a></li>
          <li><a href="#">Designing the Experience</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3>Contact</h3>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Why Choose Us?</a></li>
          <li><a href="#">Referral Program</a></li>
          <li><a href="#"></a>Partner Program</li>
          <li><a href="tel:+18134009787">+1 813-400-9787</a></li>
          <li><a href="mailto:hello@fairheadcreative.com">hello@fairheadcreative.com</a></li>
        </ul>
      </div>
      <div class="footer-form">
        <h3>Free Growth Guide Download</h3>
        <p>See exactly how we grow sales and impact online, <br class="desktop-break">and how you can do the same.</p>
      </div>
    </div>
    <div class="footer-sub">
      <div class="container">
        <ul>
         <li><span class="sub-foot-text">&copy; Fairhead Creative, 2016.</span></li>
         <li><a href="/terms/">Terms</a> </li>
         <li><a href="/privacy/">Privacy Policy</a></li>
         <li><a href="/antispam/">Antispam Policy</a></li>
         <li class="right"><a href="tel:+18134009787">+1 813-400-9787</a></li>
        </ul>
      </div>
    </div>
  </footer>