<div class="home-modal-bg"></div>
<div class="home-modal">
  <div class="home-modal-content">
    <a class="home-modal-close" href="javascript:void(0);">&times;</a>
    <h2 class="modal-title">Where are we sending them?</h2>
    <p>We email them rather than giving direct links because we’re always adding more value to them: we don’t want you to be left behind!</p>
    <script type="text/javascript" src="http://app.fairheadcreative.com/?q=forms/getForm&i=116269&type=portable"></script>
    <small>100% privacy guaranteed</small>
  </div>
</div>