<nav class="nav-global" role="navigation" id="top">
  <div class="nav-global-menu">
    <div class="menu-content">
      <a class="nav-logo" href="/">Fairhead Creative Web Design Company <span class="svg-logo">{% include svg/logo-full.svg %}</span></a>
      <ul class="nav-global-links">
        <li class="nav-global-item">
          <span class="nav-dropdown-title" data-menu-target="services" data-activate-target="submenu" data-open-outside="true">Services <span class="icon-toggle"></span></span>
        </li>
        <li class="nav-global-item">
          <span class="nav-dropdown-title" data-menu-target="about" data-activate-target="submenu" data-open-outside="true">About <span class="icon-toggle"></span></span>
        </li>
        <li class="nav-global-item"><a href="/quiz/">Reviews</a></li>
        <li class="nav-global-item right"><a class="nav-highlight" href="/start/">Free site diagnosis</a></li>
        <li class="nav-global-item right"><span itemprop="telephone"><a href="tel:+18134009787">+1 813-400-9787</a></span></li>
      </ul>
    </div>
  </div>
  <div class="nav-global-submenu" data-activate-item="submenu" data-close-outside="true">
    <div class="menu-content">
      <ul class="nav-dropdown-content" data-menu-item="services">
        <li>
          <a href="/quiz/">
            <span class="nav-icon"><img src="/images/placeholders/white-generic.png" alt=""></span>
            <span class="nav-title">Site diagnosis</span>
            <span class="nav-lead">Where's your site struggling?</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="nav-icon"><img src="/images/placeholders/white-generic.png" alt=""></span>
            <span class="nav-title">Start Reports</span>
            <span class="nav-lead">Custom guide to a better start</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="nav-icon"><img src="/images/placeholders/white-generic.png" alt=""></span>
            <span class="nav-title">Fairsites</span>
            <span class="nav-lead">Better site, better price</span>
          </a>
        </li>
      </ul>
      <ul class="nav-dropdown-content" data-menu-item="about">
        <li>
          <a href="/quiz/">
            <span class="nav-icon"><img src="/images/placeholders/white-generic.png" alt=""></span>
            <span class="nav-title">Creating Leads</span>
            <span class="nav-lead">Designing conversions</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="nav-icon"><img src="/images/placeholders/white-generic.png" alt=""></span>
            <span class="nav-title">Creating Customers</span>
            <span class="nav-lead">By serving, not just selling</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="nav-icon"><img src="/images/placeholders/white-generic.png" alt=""></span>
            <span class="nav-title">Creating better sites</span>
            <span class="nav-lead">Experiences people actually want</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>