<section id="testimonials" class="group alt">
  <div class="container">
    <blockquote class="testimonial">
      <img src="http://placekitten.com/g/190/190" width="95" height="95" alt="" />
      <p>Their well-researched skills and guidance create truly engaging, genuinely charming websites that increase sales. On time, and under budget.</p>
      <cite>Mahei Foliaki, Social Media Personality</cite>
    </blockquote>

    <blockquote class="testimonial">
      <img src="http://placekitten.com/g/190/190" width="95" height="95" alt="" />
      <p>They have an innate ability to empathize for the end-user and design with thoughtful purpose that evokes real emotion.</p>
      <cite>Andy H., Entrepreneur</cite>
    </blockquote>
  </div>
</section>
