<section class="sidebar">
  {% if page.class != 'blog' %}
  <aside class="sidebar-item">
    <h3>Attract more customers online with our newsletter</h3>
    <p>Subscribe to our email newsletter for insider tips and free resources, all designed to give your business a competitive advantage online.</p>

    <a href="javascript:void(0);" class="button get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Subscribe Side')" />Give me access</a>
  </aside>
  {% endif %}

  {% if page.freebie %}
  <aside class="sidebar-item">
    <h3>Download this article's freebie</h3>
    <p>Download your {{ page.freebie }} right away, it's free!</p>
    <a href="javascript:void(0);" class="button get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Download Open Side {{ page.title }})" />Download it now</a>
  </aside>
  {% endif %}

  <aside class="sidebar-item recommended">
    <h3>Recommended reading</h3>
    {% for post in site.posts %}
    {% if post.recommended %}
    <article>
      <header>
        <h4><a href="{{ post.url }}" onclick="ga('send', 'event', 'Blog', 'Click', 'Recommended Article');">{{ post.title }}</a></h4>
        <p class="meta">Published {{ post.date | date_to_string }}</p>
      </header>
      </article>
    {% endif %}
    {% endfor %}
  </aside>

  <aside class="sidebar-item">
    <a href="/" title="Hire Fairhead Creative Web Design for your next project" onclick="ga('send', 'event', 'Blog', 'Click', 'Learn More');"><img src="/images/blog/hire-us-2.png" alt="Hire Fairhead Creative Web Design for your next project" /></a>
  </aside>

  <aside class="sidebar-item follow-author">
    <h3>Follow the Author</h3>
    <p><a class="author-twitter" href="https://twitter.com/adamfairhead" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Follow Twitter Side');">@adamfairhead</a></p>
    <!--<p><a class="author-website" href="http://adamfairhead.com" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Follow Personal Side');">Personal Site</a></p>-->
  </aside>

  {% if page.freebie %}
  <section class="inline-freebie in-sidebar" style="display: none;">
  {% if page.freebie-image %}<img class="freebie-image" src="/uploads/{{ page.freebie-image }}" alt="{{ page.freebie }}" width="200" />{% endif %}
    <h3>Get your {{ page.freebie }}</h3>
    <p><a href="javascript:void(0);" class="button get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Download Open Float {{ page.title }}')" />Download your freebie now</a></p>
  </section>

  {% else %}

  <section class="inline-subscribe in-sidebar" style="display: none;">
    <h3>Attract more customers online with our newsletter</h3>
    <p>Subscribe to our email newsletter for insider tips and free resources, all designed to give your business a competitive advantage online.</p>
    <p><a href="javascript:void(0);" class="button get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Subscribe Inline')" />Give me access</a></p>
  </section>
  {% endif %}
</section>
