// Blog rules

.blog__inline-button-text {
  opacity: .5;
  padding-right: .5em;
  position: relative;
  top: 2px;
}

.master .master__heading {
  img { margin: -3em 0 -0.25em; }
}

.master#convert .master__heading {
  background: $green;
}

.splash-master-convert,
.splash-master-email {
  padding-bottom: 2em;
}

.splash-master-convert .splash__intro {
  color: $dark-green;
}

.master#email .master__heading {
  background: $yellow;
}

.master#access .master__heading {
  background: $blue;
}

.thin-container { max-width: 50em !important; }

.blog, .portfolio { background: $off-white; }

.card {
  display: block;
  padding: 1em;
  background: white;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 2px $light-gray;
  text-align: left;
  margin-bottom: 1em;

  p { font-size: 1em; }
}

.master {
  p { color: $base-font-color; }
  .pretend-a { color: $blue; }

  @include media($medium-screen) {
    @include span-columns(6);
    clear: left;
    @include transition(all 0.1s ease-in-out);

    &:hover {
      @include transform(scale(1.025) translateY(-10px));
      box-shadow: 0 5px 2px $light-gray;
    }

    &:nth-child(2n) {
      @include omega;
      clear: none;
    }
  }
}

.master__heading {
  margin: -1em -1em 1em;
  padding: 1.5em 1em 1em;
  border-radius: $base-border-radius $base-border-radius 0 0;

  h2 {
    color: white;
    text-align: left;
    position: relative;
    z-index: 1;
    max-width: 10em;
  }
}


.post .single-section {
  h2 {
    margin-top: 1em;
    text-align: left;
    padding-top: 1em;
    border-top: 2px solid $off-white;
  }

  h3 {
    font-size: 1.3em;
    margin: 1.7em 0 .5em;
  }
}
