// Article General

.blog article .blog-title {
  font-family: Lato;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.blog .blog-title-wrapper {
  .blog-title {
    max-width: 25em;
    margin: 0 auto 1.5em;
  }

  .blog-title-form {
    @include outer-container();
    max-width: 35em;
    margin: 0 auto;
    font-size: 1.2em;

    @include media($medium-screen) {
      input[type="email"] {
        width: 50%;
        float: left;
      }

      input[type="submit"] {
        width: 45%;
        float: right;
        box-shadow: none;
      }
    }
  }
}

.article,
.blog {
  h1 {
    margin-top: 0;

    span {
      color: #bbb;
    }

    a {
      color: #333;

      &:hover {
        color: $base-accent-color;
      }
    }
  }

  #navigation li a {
    color: #ccc;

    &:hover {
      color: $base-accent-color;
    }
  }

  .limiter {
    max-width: 60em;
    margin: 0 auto;
  }

  .author-twitter {
    background: url('/images/blog/webicon-twitter.svg') no-repeat left center;
    padding-left: 25px; 
  }

  .author-dribbble {
    background: url('/images/blog/webicon-dribbble.svg') no-repeat left center;
    padding-left: 25px; 
  }

  .author-github {
    background: url('/images/blog/webicon-github.svg') no-repeat left center;
    padding-left: 25px; 
  }

  .author-website {
    background: url('/images/blog/webicon-rss.svg') no-repeat left center;
    padding-left: 25px; 
  }

  .share-facebook,
  .share-twitter,
  .share-google {
    @include media(max-width $large-screen) {
      width: 32.5%;
      padding-left: .5%;
      padding-right: .5%;
      font-size: .7em;
    }

    @include media($medium-screen) {
      margin-top: 1em;
    }
  }

  .share-facebook {
    @extend .button;
    background: #3a5795;

    &:hover {
      background: darken(#3a5795, 15%);
    }
  }

  .share-twitter {
    @extend .button;
    background: #55acee;

    &:hover {
      background: darken(#55acee, 15%);
    }
  }

  .share-google {
    @extend .button;
    background: #dd4b39;

    &:hover {
      background: darken(#dd4b39, 15%);
    }
  }

  .author-name {
    margin-right: 1em;
  }

  @include media($medium-screen) {
    .inline-subscribe {
      @include outer-container();

      input {
        @include span-columns(8);
      }

      button {
        @include span-columns(4);
      }
    }
  }

  .published {
    margin-left: 1em;

    @include media(max-width $medium-screen) {
      display: block;
      margin: .5em 0 0;
    }
  }

  .meta {
    margin-bottom: 1.5em;
    color: #bbb;
    @extend h3;

    @include media(max-width $medium-screen) {
      font-size: 1em;
    }
  }

  .featured-image {
    width: 200px;
    margin: 0 0 1em 1em;
    float: right;
    border: $base-border;
  }

  .featured-image.ver-4 {
    width: 300px;
  }
  
  article {
    header {
      text-align: center;
      margin-bottom: 1.5em;
      font-size: em(13);

      @include media($medium-screen) {
        margin-bottom: 3em;

        h1 {
          font-size: em(55);
        } 
      }
    }

    .main {
      padding-top: 1em;

      .article {
        margin-bottom: 2em;
        padding-bottom: 2em;
      }

      & > h3 {
        margin-top: 2em;
      }

      @include media($medium-screen) {
        padding-top: 3em;
        @include span-columns(7);
      }
    }

    .sidebar {
      position: relative;

      @include media($medium-screen) {
        margin-top: 3em;
        @include span-columns(4);
        @include shift(1);
      }
    }

    h2 {
      margin-top: 2em;
      border-top: $base-border;
      padding-top: 2em
    }

    .post-title {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: .1em;
      border: none;
      font-size: em(20);

      @include media($medium-screen) {
        font-size: em(26);
      }
    }

    img {
      margin: 0;
      border: $base-border;
    }

    ol li {
      @extend %default-ol;
    }

    ul li {
      @extend %default-ul;
    }
  }


  .sidebar-item {
    margin-top: 2em;
    padding-top: 1em;
    border-top: $base-border;

    header {
      margin-bottom: 0;
    }

    h4,
    p {
      text-align: left;
    }

    h4 {
      margin-bottom: .5em;
    }

    .meta {
      font-size: 1em;
    }

    @include media($medium-screen) {
      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}


// Freebies

.inline-freebie {
  background: #fffee8;
  padding: .3em 1em .6em;
  margin: 1em 0;
  border: $base-border;

  .form & {
    margin-top: 0;
  }

  input[type="email"] {
    display: inline-block;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(237, 240, 225);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.04);

    @include media($medium-screen) {
      max-width: 200px;
      margin-right: 10px;
    }
  }
}

.modal-wrapper {
  display: none;
  width: 100%;
  top: 0;
  z-index: 2;
  position: fixed;
}

.modal-close {
  float:right;
  margin-top: 15px;
  color: #bbb;
}

.modal {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 0 1.5em 1.5em;
  border-radius: 4px;
  box-shadow: 0 5px 0 rgba(0,0,0,0.09);
  z-index: 4;

  @include media($medium-screen) {
    top: 70px;
    width: 400px;
  }

  @include media($large-screen) {
    top: 120px;
  }

  .button {
    width: 100%;
  }
}

.modal-overlay {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  display: block;
  z-index: 2;
}
 


.share {
  height: 40px;

  @include media($medium-screen) {
    height: 70px;
  }
}

.share,
.share-inner {
  width: 100%;
}

.share-inner.fixed {
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  background: white;
  width: 100%;
  max-width: 60em;
  border-top: 1px solid #eee;

  @include media(max-width $medium-screen) {
    left: 0;
    padding: 5px 1em 0;
  }

  @include media($medium-screen) {
    height: 70px;
  }
}

.take-survey {
  display: none;

  @include media($medium-screen) {
    display: block;
    position: fixed;
    bottom: 0;
    right: 1em;
    background: #33aad8;
    color: white;
    padding: .2em .5em;
    border-radius: 4px 4px 0 0
  }
}

.article .main .freebie-image {
  float: right;
  margin: .75em 0 0;
  border: none;
}

// Floating elements
.sidebar .in-sidebar {
  display: none;

  @include media($medium-screen) {
    position: fixed;
    top: 2em;
    max-width: 293px;
    padding: 0 1em .5em;
    background: lighten($base-border-color, 5);
    border-radius: 2px;

    .freebie-image {
      margin: 0 auto;
      display: block;
      border: none;
    }

    &.inline-freebie {
      text-align: center;
      border: none;
      margin: 0;
    }
  }
}

.article .small-right {
  margin: 0;
  border: 2px solid #eceae6;
  width: 150px;
  height: 150px;
  float: right;
  margin: 0 0 1em 1.5em;
}

.form-comment.validation input[name="name"],
.form-comment.validation input[name="email"] {
  border: 1px solid $blue;
}
