.careers {
  #hero {
    @extend %group;
    @extend %container;
    max-width: 41em;
    text-align: center;
    padding-top: 0; 
    z-index: 1;
    position: relative;

    img {
      max-width: 300px;
      margin: 0 auto 1em;
      display: block;
    }

    h1 {
      @extend h2;
    }

    p,
    li {
      font-size: 1.2em;
      display: block;
    }

    li {
      margin-top: 2em;
      padding-left: 50px;
    }

    strong {
      font-weight: 900;
    }
  }

  #look {
    background: $new-yellow-medium;
    @extend %group;

    .inner {
      @extend %container;
    }

    h2 {
      color: $new-yellow-dark;

      strong { color: white; }
    }

    ol { @include row; }

    li {
      color: $new-yellow-dark;
      margin-top: 2em;
      padding-left: 50px;

      @include media($medium-screen) {
        @include span-columns(6);
      }
    }

    li strong {
      display: block;
      color: $dark-gray;
      font-weight: 900;
      font-size: 1.2em;
    }

    li:before {
      @extend %bullet;
      font-size: 1.2em;
      background: $dark-gray;
      color: $new-yellow-medium;
    }

    li:nth-child(1):before { content: '1'; }
    li:nth-child(2):before { content: '2'; }
    li:nth-child(3):before { content: '3'; }
    li:nth-child(4):before { content: '4'; }

    li:nth-child(2n) {
      @include omega;
      clear: right;
    }
  }

  #provide {
    background: $new-blue-medium;
    @extend %group;

    .inner {
      @extend %container;
    }

    h2 {
      color: $new-blue-light;

      strong { color: white; }
    }

    ol { @include row; }

    li {
      color: lighten($new-blue-light, 10);
      margin-top: 2em;
      padding-left: 50px;

      @include media($medium-screen) {
        @include span-columns(6);
      }
    }

    li strong {
      display: block;
      color: white;
      font-weight: 900;
      font-size: 1.2em;
    }

    li:before {
      @extend %bullet;
      font-size: 1.2em;
      background: white;
      color: $new-blue-medium;
    }

    li:nth-child(1):before { content: '1'; }
    li:nth-child(2):before { content: '2'; }
    li:nth-child(3):before { content: '3'; }
    li:nth-child(4):before { content: '4'; }

    li:nth-child(2n) {
      @include omega;
      clear: right;
    }
  }

  .single {
    h1, h2 {
      @extend h2;
    }

    max-width: $medium-screen;

    ul {
      list-style: disc outside;
      padding-left: 2em;
    }
  }

  .single.hero {
    text-align: center;

    h1 {
      margin-bottom: .5em;
    }
  }

  .other {
    margin: 2.5em auto 0;
    text-align: center;
  }

  .job {
    @include row;
    background: white;
    display: block;
    padding: .5em 1em 1em;
    border-radius: $base-border-radius;
    margin-bottom: 1em;

    &:hover {
      background: $base-border-color;
    }

    header {
      @include span-columns(5);
    }

    .job-title {
      margin-bottom: .25em;
    }
    
    .job-summary {
      @include span-columns(7);
      padding-top: 1em;
    }

    p {
      color: $base-font-color;
    }
  }

  .group.alt {
    background: lighten($base-border-color, 5);
  }

  .meta {
    margin-bottom: 1.5em;
    color: #bbb;
    @extend h3;
    font-size: 1em;
  }

  .button.large {
    margin: 0 auto;
    display: block;
    max-width: 10em;
  }
}
