.clients {
  #quotes {
    blockquote {
      @include outer-container();
      max-width: 40em;
      padding-bottom: 1em;
      margin-bottom: 1em;

      @include media($medium-screen) {
        padding-bottom: 3em;
        margin-bottom: 3em;
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 1em;
      }

      img {
        @include span-columns(2); 
        border-radius: 100%;
      }

      &:nth-child(even) img {
        float: right;
        margin-right: 0;
      }

      div {
        @include span-columns(10);
      }
    }
  }


  #intro {
    z-index: 2;
    position: relative;
    color: #d3cbc0;
    padding-bottom: 1em;

    @include media($medium-screen) {
      padding-bottom: 3em;
      
      .container div {
        @include span-columns(6);
        @include omega();
      }
    }

    @include media($large-screen) {
      .container div {
        @include span-columns(4);
      }
    }

    h1 {
      color: white;

      @include media($medium-screen) {
        font-size: em(70);
        margin-bottom: .1em;
      }
    }

    .lead {
      color: #d8ffbe;
    }
  }

  .splash {
    background: #1c2020;
  }
  
  #videos {
    background: #fafafa;
    position: relative;
    z-index: 2;

    @include media($large-screen) {
      @include linear-gradient(90deg, rgba(250,250,250,1) 40%, rgba(0,0,0,0) 50%);
      background-color: transparent;
    }

    article {
      @include outer-container();
      position: relative;
      z-index: 2;
      background: #fafafa;
      box-shadow: 0 0 10px #fafafa;
      padding: 2em 2em 0 0;

      @include media($large-screen) {
        @include span-columns(8);
      }

      &:first-child {
        border-radius: 0 50px 0 0;
      }

      &:last-child {
        padding-bottom: 1em;

        @include media($large-screen) {
          padding-bottom: 4em;
        }
      }
      
      div,
      iframe {
        max-width: 100% !important;
        margin-bottom: 2em;

        @include media($medium-screen) {
          @include span-columns(6);
          margin-bottom: 0;
        }
      }

      blockquote {
        margin: 0;
      }

      h2 {
        margin: 0 0 1em;
      }
    }
  }

  .clients-bg {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .clients-bg-2 {
      background: url('/images/clients/clients-bg.svg') no-repeat;
      width: 940px;
      height: 670px;
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
    }
    
    .clients-bg-3 {
      background: url('/images/clients/clients-2.svg') no-repeat;
      height: 500px;
      width: 452px;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 2;

      @include media(em(1170)) {
        top: -20px;
        width: 452px;
        right: 80px;
      }
    }

    @-webkit-keyframes rotating {
      from{
        -webkit-transform: rotate(0deg);
      }

      to{
        -webkit-transform: rotate(-360deg);
      }
    }

    .wheel-1 {
      background: url('/images/clients/clients-3.svg') no-repeat;
      width: 107px;
      height: 107px;
      top: 166px;
      left: 23px;
      position: absolute;
      -webkit-animation: rotating 5s linear infinite;
    }

    .wheel-2 {
      background: url('/images/clients/clients-4.svg') no-repeat;
      width: 75px;
      height: 75px;
      top: 108px;
      left: 153px;
      position: absolute;
      -webkit-animation: rotating 5s linear infinite;
    }
  
    .tip-top {
      background: url('/images/clients/clients-5.svg') no-repeat;
      width: 57px;
      height: 35px;
      top: 172px;
      left: 163px;
      position: absolute;
    }

    .glow {
      background: url('/images/clients/clients-6.png') no-repeat;
      width: 406px;
      height: 385px;
      top: 270px;
      left: -190px;
      position: absolute;
    }
  }

}
