// Home rules

.ring {
  position: relative;
  @include media(max-width $medium-screen) { display: block; }

  &:before {
    content: '';
    width: 140px;
    height: 50px;
    background: url('../images/home-ring.svg') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -5px;

    @include media(max-width $medium-screen) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

#meet-charlie {
  p:first-child {
    font-size: 1.3em;
  }

  .single-section__figure {
    margin: 0 0 -1.25em;
  }

  .home-logos {
    top: -170px;
    z-index: -1;
    margin-bottom: -50px;
    position: relative;
  }
}

.logical-choice-made {
  margin: -20px auto 0;
  width: 100%;
  max-width: 68.75em;
  height: 30px;
  position: relative;

  &:before {
    content: '';
    height: 0;
    width: 0;
    border-left: 32.5px solid transparent;
    border-right: 32.5px solid transparent;
    border-bottom: 32.5px solid #ffb940;
    position: absolute;
    top: 0;

    @include media(max-width $medium-screen) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    @include media($medium-screen) {
      right: 21%;
    }

    @include media($large-screen) {
      right: 15%;
    }
  }
}

#logical-choice {
  background: $yellow;
  color: $medium-yellow;

  h2, strong { color: $dark-yellow; }
  h2 { padding-bottom: .75em; }
  h2 strong { color: white; }
}

#examples {
  position: relative;
  background: $dark-gray;
  color: lighten($medium-gray, 10);
  text-align: center;

  h2 {
    color: lighten($medium-gray, 10);
    margin-bottom: 2em;

    strong { color: white; }
  }

  h3 { color: white; }

  .carousel {
    color: $light-gray; 
    width: 100%;
  }

  .carousel .slick-slide {
    color: $light-gray;
    width: 300px;
    padding: 0 1em;
    outline: none;

    @include media($medium-screen) {
      width: 550px;
      padding: 0 2em;
    }

    h3 {
      color: white;
      font-weight: 900;
      font-size: 1.2em;
      margin: 0 0 .5em;
    }

    ul {
      @include row;
      max-width: 400px;
      margin: 0 auto;
    }

    li {
      @include span-columns(4);
      color: lighten($medium-gray, 10);
      line-height: 1.1;
      padding-bottom: .25em;

      @include media(max-width $medium-screen) { font-size: .9em; }

      strong {
        color: $light-gray;
        display: block;
      }
    }
  }
}


.home h2 {
  font-size: em(33);
}

#are-you-ready {
  background: $blue;
  color: white;
  padding-bottom: 0;
  text-align: center;

  h2 {
    color: white;
    max-width: 20em;
    margin: 0 auto .5em;
  }

  img {
    width: 300px;
    margin: 3em auto 0;
    display: block;
    clear: both;
  }

  form .body-div {
    margin: 0 auto !important;
    max-width: 25em !important;
    width: 100% !important;
    text-align: left !important;
    padding: 20px 0 10px 10px !important;

    br { display: none !important; }
    input[type="submit"] { width: 93% !important; }

    input, textarea{
      margin-bottom: 0 !important;
      padding: .5em !important;
    }
  }
}
