// Onboard rules

.questions .single-section {
  max-width: 25em;
}

body.excited {
  background: $off-white;
}

.questions div.body-div {
  background: transparent !important;
  margin: 0 auto !important;
  width: 100% !important;
  text-align: left !important;

  table {
    margin-bottom: 1em !important;
  }
}
.questions div.body-div br {
  display: none !important;
}
.questions div.body-div .firstInput,
.questions div.body-div .secondInput {
  margin-bottom: 0 !important;
}
.questions input[type="text"],
.questions textarea {
  padding: .5em !important;
}
.questions .options.input {
  width: 100% !important;
  text-align: left !important;
  margin-left: 6px !important;
  margin-top: .25em !important;

  br {
    display: none !important;
  }

  label {
    padding-left: 25px !important;
    display: block !important;
    margin-top: 0 !important;
  }
  
  input {
    position: absolute !important;
    margin: 0 !important;
  }

}
.questions .options.input input[type="checkbox"],
.questions .options.input label {
  display: inline-block;
  margin-top: .5em;
}
.questions .small-description {
  margin-top: -10px;
  opacity: .4;
}

.onboard .body-div {
  input[type="submit"] {
    background: $blue !important;
    border: none !important;
    border-top: 1px solid lighten($blue, 15) !important;
    border-bottom: 1px solid shade($blue, 10) !important;
    width: 97% !important;
    box-sizing: border-box !important;
    height: 50px !important;
    font-weight: bold !important;
  }

  input[type="submit"]:hover {
    background-color: $pink !important;
    border-top: 1px solid lighten($pink, 15) !important;
    border-bottom: 1px solid shade($pink, 10) !important;
  }
}
