// Start rules

.start .body-div {
  text-align: left !important;
  background: transparent !important;
  margin: 1em auto 1.5em !important;
  box-sizing: border-box !important;

  samp, br { display: none !important; }

  input[type="text"] {
    margin-bottom: 0 !important;
    border: none !important;
    height: 40px !important;
    padding: .25em .5em !important;
  }

  input[type="submit"] {
    background: $blue !important;
    border: none !important;
    width: 97% !important;
    box-sizing: border-box !important;
    height: 50px !important;
    font-weight: bold !important;
    background: #90cf5d !important;
    border-top: 1px solid #b8e098 !important;
    border-bottom: 1px solid #82ba54 !important;
  }

  input[type="submit"]:hover {
    background-color: $pink !important;
    border: 1px solid shade(darken($pink, 15), 10) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0px 1px 0 0px lighten($pink, 15) !important;
  }
}

.start {
  background: #677780;

  .featured {
    max-width: 394px;
    margin-top: 30px;
  }

  .global-nav {
    opacity: .3;
    @include transition(all .2s ease-in-out);

    &:hover {
      opacity: 1;
    }
  }

  .start-box {
    @include row;
  }

  .start-box img {
    width: 127px;
    float: left;
    margin: 20px 0 0 5px;

    @include media(max-width em(580)) {
      display: none;
    }
  }


  .start-box > div {
    @include media(max-width em(580)) {
      max-width: 100%;
    }

    @include media(em(580)) {
      float: right;
      max-width: em(330);
    }
  }

  .phone {
    display: none;
  }

  .splash__lead {
    max-width: 40em;
    margin-bottom: 2em;
    color: white;
  }

  .global-footer {
    display: none;
  }

  .footer-primary {
    opacity: .25;
    text-align: center;
    margin-left: 0;
    padding-top: 1em;
  }

  .start-box {
    border-radius: $base-border-radius;
    background: lighten(#677780, 10);
    margin: .4em auto 0;
    padding: 0 1em;

    span { display: none !important; }

    @include media(em(580)) {
      width: em(500);
      margin: 0 auto;
    }

    h3 {
      padding: 1.3em 0 0;
      font-size: 1.3em;
      color: white;
    }

    p {
      max-width: 25em;
      opacity: 1;
      margin: 0 auto;
      padding-top: 1em;
      font-weight: 300;
      font-size: 1.1em;
    }
  }

  blockquote cite {
    font-size: .75em;
    color: white;
    font-style: normal;

    a {
      text-decoration: underline;
      color: white;
    }
  }

  blockquote {
    margin: 5px auto 0;
    padding-top: 1em;
    max-width: em(350);
    padding-left: 80px;
    position: relative;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 68px;
      height: 68px;
      background: url('/images/start-jamie.png') no-repeat;
      background-size: 68px 68px;
      border-radius: 100px;
      border: 1px solid #455056;
    }
  }

  blockquote p {
    color: #c2ccd1;
    font-size: .9em;
    font-weight: normal;
    padding-top: 0;
    margin: 0;

    &:before, &:after { content: ''; margin: 0; }
  }
}

body.convert { 
  background: white;

  .splash__title {
    color: #333;
  }

  .splash__lead {
    max-width: 100%;
  }

  .start-box {
    background: #eee;

    p { color: #333; }

    input[type="submit"] {
      background-color: $pink !important;
      border-top: 1px solid lighten($pink, 15) !important;
      border-bottom: 1px solid shade($pink, 10) !important;
    }

    input[type="submit"]:hover {
      background-color: shade($pink, 15) !important;
      border-top: 1px solid shade($pink, 5) !important;
      border-bottom: 1px solid shade($pink, 15) !important;
    }

    h3 {
      font-size: 1em;
      color: #333;

      @include media(em(580)) {
        float: left;
        margin: 0 0 -0.5em 1em;
      }

      @include media(em(680)) {
        margin: 0 0 -0.5em 1.5em;
      }
    }

    @include media(em(680)) {
      width: em(630);
    }

    img {
      margin-bottom: 1.5em;

      @include media(em(580)) {
        width: 130px;
      }

      @include media(em(680)) {
        width: 250px;
      }
    }
  }

  .featured {
    width: 100%;
    max-width: 700px;
  }
}

.starterkit {
  .global-nav { opacity: .5; }

  h1 { font-size: 2.4em; }

  .splash__lead { max-width: em(620); }

  .row {
    @include row;
    max-width: 60em;
    margin: 0 auto;
  }

  .description {
    text-align: left;
    margin: 0 auto;

    h2 {
      font-size: 1.4em;
      text-align: left;
      padding-top: 1.15em;
    }

    @include media(max-width em(960)) {
      max-width: em(550);
      margin: 2em auto;
      padding: 0 2em;
      text-align: left;
    }

    @include media(em(960)) {
      @include span-columns(7);
      margin-top: .4em;
      padding: 1.5em;
    }
  }

  @include media(em(960)) {
    .start-box-wrapper {
      padding-top: 2em;
    }

    .start-box-wrapper.fixed {
      position: fixed;
      width: 60em;
      top: 0;

      .start-box { float: right; }
    }
  }

  .start-box {
    border-radius: $base-border-radius;
    margin: .4em auto 2em;
    padding: 0 1em;
    background: lighten($green, 35);
    border: 1px solid lighten($green, 20);

    .single-section__heading {
      background: $green;
      color: white;
      margin: 0em -0.8em 0;
      padding: 0.75em 1.2em 1em;
      border-radius: $base-border-radius $base-border-radius 0 0;
      text-align: center;
    }

    .body-div {
      background: transparent !important;
      margin: 1em auto 2em !important;
    }

    input[type="text"],
    input[type="submit"] {
      width: 100% !important;
      box-sizing: border-box;
    }

    input[type="text"] {
      height: 40px !important;
      margin-bottom: 0 !important;
      text-indent: 10px !important;
    }

    input[type="submit"] {
      background: $blue !important;
      border: none !important;
      border-top: 1px solid lighten($blue, 15) !important;
      border-bottom: 1px solid shade($blue, 10) !important;
      box-sizing: border-box !important;
      height: 50px !important;
      font-weight: bold !important;
    }

    input[type="submit"]:hover {
      background-color: $pink !important;
      border-top: 1px solid lighten($pink, 15) !important;
      border-bottom: 1px solid shade($pink, 10) !important;
    }

    samp, br { display: none !important; }

    @include media(max-width em(960)) {
      max-width: em(500);
    }

    @include media(em(960)) {
      @include span-columns(5);
    }

    h3 {
      padding: 1.3em 0 0;
      font-size: 1.3em;
    }

    p {
      max-width: 40em;
      opacity: 1;
    }
  }
}
