.study {
  h1 {
    font-family: Lato;
    font-size: 2.5em;
    line-height: 1;
    font-weight: 700;
  }

  header {
    text-align: center;
    padding-bottom: 2em;

    @include media($medium-screen) {
      padding-bottom: 4em;
    }

    p {
      @extend h2;
      color: $medium-gray;
      margin: 0 auto 1.5em;

      @include media(max-width $medium-screen) {
        font-size: 1.2em;
      }
    }
  }

  .single {
    @extend .container;
    max-width: $large-screen;
  }

  .study-2 {
    @include media($medium-screen) {
      @include span-columns(8);
    }

    blockquote p {
      font-size: 2em;
      padding: 1em 0 1.2em;
      line-height: 1.2;
      color: $dark-gray;
      font-family: Lato;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.02em;
    }
  }

  #study-services {
    @include media($medium-screen) {
      @include span-columns(3);
      @include shift(1);

      h3 {
        margin-top: 0;
      }

      ul {
        font-size: .9em;
        
      }
    }

    ul {
      margin-bottom: 1em;
    }
  }

  figure {
    width: 100%;
    margin: 0;
  }

  .group.alt {
    background: lighten($base-border-color, 5);
  }
}

.lifechurchtv {
  header {
    p {
      max-width: 30em;
    }
  }

  .stats {
    background: #191a12 url("/images/studies/lifechurchtv/lifechurch-hero2_2x.jpg") top center no-repeat;
    background-size: 100% auto;
    padding-top: .1em;
    padding-bottom: 2em;
    
    @include media($medium-screen) {
      @include row;
      padding-top: 100px;
      padding-bottom: 130px;
    }

    .stat {
      @include media($medium-screen) {
        @include span-columns(4);
      }
      
      text-align: center;
      color: #7ca69c;
    }

    h2 {
      font-family: Lato;
      font-size: 4.5em;
      line-height: 1;
      font-weight: 700;
      color: white;
      margin-bottom: 0;
    }
  }
}
