---
layout: layout
title: Blog | Fairhead Creative
description: Fairhead Creative shares actionable advice for online business owners who want to motivate their visitors to buy a product or take action.
class: blog
version: v4
---
<div class="container group">
  <div class="limiter">
    <article>
      <header class="blog-title-wrapper">
        <h1 class="blog-title"><a href="/blog">We're sharing actionable advice for online businesses owners ready to motivate their visitors to buy.</a></h1>

        <form action="//adamfairhead.us8.list-manage.com/subscribe/post-json?u=078c568914b24026a4a24cbc8&amp;id=56a7df1be0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="blog-title-form" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address" autofocus="true" />
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_078c568914b24026a4a24cbc8_56a7df1be0" tabindex="-1" value=""></div>
          <input type="submit" value="Send me actionable advice" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'Blog', 'Click', 'Subscribe Side');" />
        </form>

        <div class="subscribe-result"></div>
      </header>

      <hr class="large-element" />

      <div class="main">

        <div class="article" style="background: #92d061; border-radius: 3px; padding: 1em; margin-bottom: 2.5em;">
          <span style="margin-bottom: .5em; background: white; color: #92d061; border-radius: 2px; font-size: .8em; text-transform: uppercase; display: inline-block; padding: .15em .4em .1em; font-weight: bold;">Featured Post</span>
          <h2 class="post-title"><a href="/conversion-rate-optimization/" title="How to Turn Leads Into Buyers" style="color: white; font-family: Lato, sans-serif; font-weight: bold; font-size: 1.2em;">How to Turn Leads Into Buyers</a></h2>
          <img src="/images/masters/conversions-hero.svg" alt="Website Conversion Rate Optimization Chart" style="border: none; max-width: 35%; float: right; margin-left: 10px;">
          <p style="color: #355021;">Even if your business has hardly any online leads. See how we do it for our clients.</p>
          <p style="color: #355021;">If you're ready to turn your online leads into buyers, then read on.</p>
          <a href="/conversion-rate-optimization/" style="color: #355021;"><strong>Read this post &rarr;</strong></a>
        </div>


        {% for post in site.posts limit:12 %}{% unless post.layout == 'master' %}
        <div class="article">
          <h2 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}{% if post.infographic %} <span>(Infographic)</span>{% endif %}</a></h2>
          <br />
          {% if post.featured %}<img class="featured-image{% if post.version == 4 %} ver-4{% endif %}" src="/uploads/{{ post.featured }}" alt="Blog post featured image" />{% endif %}
          {{ post.excerpt }}
          <a href="{{ post.url }}"><strong>Read this post &rarr;</strong></a>
        </div>
        {% endunless %}{% endfor %}

        <!--<div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">&larr; Newer Articles</a> &nbsp; &nbsp;
          {% endif %}
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Older Articles &rarr;</a>
          {% endif %}
        </div>-->

        <header class="blog-title-wrapper">
          <h2 style="font-family: 'Lato', sans-serif; font-size: 2em; margin-bottom: 1em; line-height: 1.2;"><strong>Want more great quality content?<br />Subscribe below and we’ll send it to you:</strong></h2>

          <form action="//adamfairhead.us8.list-manage.com/subscribe/post-json?u=078c568914b24026a4a24cbc8&amp;id=56a7df1be0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="blog-title-form" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address" />
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_078c568914b24026a4a24cbc8_56a7df1be0" tabindex="-1" value=""></div>
            <input type="submit" value="Send me actionable advice" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'Blog', 'Click', 'Subscribe Side');" />
          </form>

          <div class="subscribe-result"></div>
        </header>
      </div>

      {% include sidebar.html %}
    </article>
  </div>
</div>
