---
layout: layout
title: Tell us more about your website
permalink: questions-ty/
class: guide questions
noindex: true
version: v4
---
<div class="container group" style="padding-top: 0;">
  <article>
    <header class="blog-title-wrapper">
      <h2 class="blog-title">Thanks for filling that out! In the mean time, here's some great content we think you’ll enjoy.</h2>
    </header>

    <div class="main">
      {% for post in site.posts limit:4 %}{% if post.layout == 'blog' %}
      <div class="article">
        <h2 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}{% if post.infographic %} <span>(Infographic)</span>{% endif %}</a></h2>
        <p class="meta">Published {{ post.date | date_to_string }}</p>
        {% if post.featured %}<img class="featured-image{% if post.version == 4 %} ver-4{% endif %}" src="/uploads/{{ post.featured }}" alt="Blog post featured image" />{% endif %}
        {{ post.excerpt }}
        <a href="{{ post.url }}"><strong>Read this post &rarr;</strong></a>
      </div>
      {% endif %}{% endfor %}
    </div>
  </article>

  <a class="button read-more" href="/blog/">Read more over on our blog</a>
</div>
