---
layout: layout
class: article
---
<div class="container group">
  <div class="limiter">
    <article>
      {% if page.social %}<img class="hide" src="/uploads/{{ page.social }}" alt="" />{% endif %}
      <header>
        <h1>{{ page.title }}</h1>
        <p class="meta">by <a class="author-name" href="/about/" onclick="ga('send', 'event', 'Blog', 'Click', 'Author Info');">Adam Fairhead</a> <a class="author-twitter" href="https://twitter.com/adamfairhead" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Follow Author Twitter');">@adamfairhead</a> <span class="published">on {{ page.date | date_to_string }}</span></p>
      </header>

      <hr />

      <div class="main">

        {% if page.featured %}<img class="featured-image{% if page.version == 4 %} ver-4{% endif %}" src="/uploads/{{ page.featured }}" alt="Blog post featured image" />{% endif %}

        {{ content }}

        {% if page.freebie %}
        <section class="inline-freebie">
        {% if page.freebie-image %}<img class="freebie-image" src="/uploads/{{ page.freebie-image }}" alt="{{ page.freebie }}" width="200" />{% endif %}
          <h3>Get your {{ page.freebie }}</h3>
          <p class="description">{% if page.freebie-description %}{{ page.freebie-description }}{% else %}This article comes with a free download. Enjoy it, and let us know what you think!{% endif %}</p>
          <p><a href="javascript:void(0);" class="button get-freebie" alt="" onclick="ga('send', 'event', 'Blog', 'Click', 'Download Open Inline {{ page.title }}')" />Download your freebie now</a></p>
        </section>

        <section class="share"><div class="share-inner">
        <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://fairheadcreative.com{{ page.url }}" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Share Facebook');">Share on Facebook</a> <a class="share-twitter" href="https://twitter.com/home?status=Reading {{ page.title }}: http://fairheadcreative.com{{ page.url }}{% if page.infographic %} [INFOGRAPHIC]{% endif %}" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Share Twitter');">Share on Twitter</a> <a class="share-google" href="https://plus.google.com/share?url=http://fairheadcreative.com{{ page.url }}" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Share Google');">Share on Google+</a></div></section>
        {% else %}
        <section class="share"><div class="share-inner">
        <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://fairheadcreative.com{{ page.url }}" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Share Facebook');">Share on Facebook</a> <a class="share-twitter" href="https://twitter.com/home?status=Reading {{ page.title }}: http://fairheadcreative.com{{ page.url }}{% if page.infographic %} [INFOGRAPHIC]{% endif %}" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Share Twitter');">Share on Twitter</a> <a class="share-google" href="https://plus.google.com/share?url=http://fairheadcreative.com{{ page.url }}" target="_blank" onclick="ga('send', 'event', 'Blog', 'Click', 'Share Google');">Share on Google+</a>
        </div></section>

        <aside class="sidebar-item large-element inline-subscribe">
          <h3>Attract more customers online with our newsletter</h3>
          <p>Subscribe to our email newsletter for insider tips and free resources, all designed to give your business a competitive advantage online.</p>

          <form action="http://mailer.fairheadcreative.com/t/r/s/jujtz/" method="post" id="subForm">
            <input id="fieldEmail" name="cm-jujtz-jujtz" type="email" required placeholder="Email address" />
            <button type="submit" class="button" onclick="ga('send', 'event', 'Blog', 'Click', 'Subscribe Inline');">Subscribe Now</button>
          </form>

        </aside>
        {% endif %}

        <aside class="sidebar-item large-element">
          <h3>Recommended reading</h3>
          {% for post in site.posts %}
          {% if post.recommended %}
          <article>
            <header>
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              <p class="meta">Published {{ post.date | date_to_string }}</p>
            </header>
            </article>
          {% endif %}
          {% endfor %}
        </aside>

      </div>

      {% include sidebar.html %}
    </article>
  </div>
</div>

{% if page.freebie %}
<div class="modal-overlay"></div>
<div id="freebie-modal">
  <a href="javascript:void(0);" class="modal-close">&#10006</a>
  <h3>We'll email you your {{ page.freebie }}</h3>
  <p>Enter your email address below and we'll send you your freebie right away:</p>
  
  <form action="//adamfairhead.us8.list-manage.com/subscribe/post?u=078c568914b24026a4a24cbc8&amp;id=56a7df1be0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address" />
    {% if page.freebie-url %}<input type="text" value="{{ page.freebie-url }}" name="MMERGE1" class="hide" id="mce-MMERGE1" placeholder="Download link" />{% endif %}
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_078c568914b24026a4a24cbc8_56a7df1be0" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'Blog', 'Click', 'Download Confirm {{ page.title }}');" />
  </form>
</div>
{% endif %}

<a class="take-survey" href="https://fairheadcreative.wufoo.com/forms/p1ue40hy1jv1xor/" target="_blank">Tell us what you want to read about next!</a>
