---
layout: layout
---
{{ content }}

<section id="quotes" class="group">
  <div class="container">
    <div id="a-few-clients">
      <header>
        <h2>Some great people we've worked with:</h2>
      </header>

      <article class="smtp2go">
        <img src="/images/home/home-logo-sg.svg" height="50" alt="{{ page.title }} SMTP2GO" />
        <p>SMTP delivery for over 85,000 customers</p>
      </article>

      <article class="austlii">
        <img src="/images/home/home-logo-au.svg" height="50" alt="{{ page.title }} AustLII" />
        <p>The largest legal database in Australia</p>
      </article>

      <article class="lifechurch">
        <img src="/images/home/home-logo-lc.svg" height="50" alt="{{ page.title }} LifeChurch.tv" />
        <p>The largest Christian church in North America</p>
      </article>

      <article class="zurb">
        <img src="/images/home/home-logo-zu.svg" height="50" alt="{{ page.title }} ZURB" />
        <p>Creators of the most advanced front-end framework to date</p>
      </article>
    </div>

    <blockquote> 
      <p>Fairhead Creative is, hands down, the best freelance relationship I’ve ever had. They are always on top of our projects and quickly turnaround beautiful work.</p>
      <cite>Brandon, ZURB</cite>
    </blockquote>
  </div>
</section>

<section id="closing-strapline">
  <div class="container">
    <h2>{{ page.closing }}</h2>
    <p class="lead">We'll show you how. <strong>Enter your website URL below:</strong></p>
    <form class="strap-form">
      <input type="url" value="" name="MMERGE3" class="required url" id="mce-MMERGE3" placeholder="Your website URL" />
      <a href="javascript:void(0);" class="strap-submit button" onclick="ga('send', 'event', 'Home', 'Click', 'Home Report Open');">Create my free report</a>
    </form>
    <p class="alternative">…or check out our <a href="/portfolio/" onclick="ga('send', 'event', 'Home', 'Click', 'Home Portfolio');">portfolio</a>.</p>
  </div>
</section>

<div class="modal-wrapper" id="key-modal">
  <div class="modal-overlay"></div>
  <div class="modal">
    <a href="javascript:void(0);" class="modal-close" onclick="ga('send', 'event', 'Home', 'Click', 'Home Report Close');">&#10006</a> 
    <h3>Where shall we send your report?</h3>
    <p>Enter the email address you'd like us to send your report to (you'll be asked to confirm this address):</p>

    <form action="//adamfairhead.us8.list-manage.com/subscribe/post-json?u=078c568914b24026a4a24cbc8&amp;id=080a86620e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="strapline-form pop" target="_blank" novalidate>
      
      <input type="text" value="" name="MMERGE1" class="required name" id="mce-MMERGE1" placeholder="Your name" />
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" />
      <input type="url" value="" name="MMERGE3" class="required url" id="mce-MMERGE3" placeholder="Website URL" />

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      <div style="position: absolute; left: -5000px;"><input type="text" name="b_078c568914b24026a4a24cbc8_080a86620e" tabindex="-1" value=""></div>
      <input type="submit" value="Send it to me" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'Home', 'Click', 'Home Report Send');">
    </form>

    <div class="subscribe-result"></div>
  </div>
</div>
