.button {
  appearance: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  padding: $base-spacing*1.25 $base-spacing*2.5;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  @include transition();
  margin-bottom: .25em;
  overflow: hidden;
  text-overflow: ellipsis;
    
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
  
  &.button-full {
    width: 100%;
    padding: $base-spacing*1.25 $base-spacing/4;
  }
}

.button-dark-blue {
  @extend .button;
  background-color: $dark-blue;
  color: $white;

  &:hover,
  &:focus {
    background-color: $light-blue;
  }
  
  .quiz .section-cta-quiz p & {
    margin-top: 1.75em;
  }
}

.button-white {
  @extend .button;
  background-color: $white;
  color: $dark-gray;
  border: 2px solid lighten($light-gray, 20);
  letter-spacing: em(-.5);

  &:hover,
  &:focus {
    //color: $blue;
  }
}

#{$all-buttons} {
  @extend .button;
}

.button.small {
  padding: .5em .75em;
  border: 0;
}
