// Typography
$base-font-family: 'Lato', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: 1em;
$small-spacing: $base-spacing*.75;
$large-spacing: $base-spacing*1.5;
$base-z-index: 0;

// Colors
$light-blue: #9DE7FF;
$blue: #369BDB;
$dark-blue: #1e5476;
$darkest-blue: #153F58;
$white: #fff;
$white-shaded: #f5f5f5;
$light-gray: #aaa;
$gray: #626262;
$dark-gray: #393939;
$black: #000;
//old colors:
$pink: #e552ab;
$dark-pink: #d54b6c;
$green: #90cf5d;
$medium-green: #549361;
$dark-green: #355021;
$yellow: #ffb940;
$dark-yellow: #423011;
$medium-yellow: #6c5224;
$medium-gray: #626262;
$off-white: #f7f7f7;

// Font Colors
$base-font-color: $medium-gray;
$header-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease;
